<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="{D74BB895-765E-4C51-ACC3-150199B58BA3}" Name="EME Toolkit 0.9.8.12 for ArcGIS 10.3x" Language="1033" Version="0.9.8.12" Manufacturer="Innovate! Inc." UpgradeCode="{E8C6A23A-E07D-47F0-8DF3-8C9041065A8A}">
		<Package Id="*" InstallerVersion="400" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="EMEdbFeature" Title="EME Database Components" Level="1">
      <ComponentGroupRef Id="EMEdbManComponents" />
      <ComponentGroupRef Id="EMEdbComponents" />
      <ComponentGroupRef Id="EMEdbRoaming" />
      <ComponentGroupRef Id="ArcGISdocs"/>
      <ComponentRef Id="ApplicationShortcut" />
		</Feature>    
    
		<Feature Id="EMEToolkitArcGis104" Title="EME Toolkit for ArcCatalog 10.4" Level="0">
      <ComponentRef Id="EMEToolkitDLL104"/>
      <ComponentRef Id="EMEToolkitConfig104"/>
		</Feature>
    
		<Feature Id="EMEToolkitArcGis103" Title="EME Toolkit for ArcCatalog 10.3" Level="1">
      <ComponentRef Id="EMEToolkitDLL103"/>
      <ComponentRef Id="EMEToolkitConfig103"/>
		</Feature>
    
		<Feature Id="EMEToolkitArcGis102" Title="EME Toolkit for ArcCatalog 10.2" Level="0">
      <ComponentRef Id="EMEToolkitDLL102"/>
      <ComponentRef Id="EMEToolkitConfig102"/>
		</Feature> 
      
		<Feature Id="EMEToolkitArcGis101" Title="EME Toolkit for ArcCatalog 10.1" Level="0">
      <ComponentRef Id="EMEToolkitDLL101"/>
      <ComponentRef Id="EMEToolkitConfig101"/>
		</Feature>  
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder">
        <Directory Id="INNOVATEROAM" Name="Innovate! Inc">
          <Component Id="INNOVATEROAM" Guid="{0100E3A0-1A6E-456A-BE01-8EB4C4A6E644}">
            <RegistryValue Root="HKCU" Key="Software\Innovate\EMEToolkit" Name="Product" Type="string" Value="EPA Metadata Editor Toolkit" KeyPath ="yes"/>
            <RemoveFolder Id="INNOVATEROAM" On="uninstall"/>
          </Component>
          <Directory Id="INSTALLROAM" Name="EME Toolkit">
            <Component Id="INSTALLROAM" Guid="{F117BF59-5E95-4DC5-AC4F-F00CFD4AF4D0}">
              <RegistryValue Root="HKCU" Key="Software\Innovate\EMEToolkit" Name="InstallDir" Type="string" Value="[INSTALLFOLDER]" KeyPath ="yes"/>
              <RemoveFolder Id="INSTALLROAM" On="uninstall"/>
            </Component>
            <Directory Id="EMEDBROAM" Name="EMEdb">
              <Component Id="EMEDBROAM" Guid="{DA7E73BD-56CB-4585-923B-BB614BAC4CC8}">
                <RegistryValue Root="HKCU" Key="Software\Innovate\EMEToolkit" Name="DatabaseSource" Type="string" Value="[EMEDBFOLDER]" KeyPath ="yes"/>
                <RemoveFolder Id="EMEDBROAM" On="uninstall"/>
                <CreateFolder/>
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
			<Directory Id="ProgramFilesFolder">
        <Directory Id="ArcGISFolder" Name="ArcGIS">
          <Directory Id="ArcDesktop104" Name="Desktop10.4">
            <Directory Id="ARC104BIN" Name="bin"/>
            <Directory Id="Arc104MD" Name="Metadata">
              <Directory Id="ARC104CONFIG" Name="Config"/>
            </Directory>
          </Directory>
          <Directory Id="ArcDesktop103" Name="Desktop10.3">
            <Directory Id="ARC103BIN" Name="bin"/>
            <Directory Id="Arc103MD" Name="Metadata">
              <Directory Id="ARC103CONFIG" Name="Config"/>
            </Directory>
          </Directory>
          <Directory Id="ArcDesktop102" Name="Desktop10.2">
            <Directory Id="ARC102BIN" Name="bin"/>
            <Directory Id="Arc102MD" Name="Metadata">
              <Directory Id="ARC102CONFIG" Name="Config"/>
            </Directory>
          </Directory>
          <Directory Id="ArcDesktop101" Name="Desktop10.1">
            <Directory Id="ARC101BIN" Name="bin"/>
            <Directory Id="Arc101MD" Name="Metadata">
              <Directory Id="ARC101CONFIG" Name="Config"/>
            </Directory>
          </Directory>        
        </Directory>
        <Directory Id="INNOVATEFOLDER" Name="Innovate! Inc">
          <Directory Id="INSTALLFOLDER" Name="EME Toolkit">
            <Directory Id="EMEDBFOLDER" Name="EMEdb">
              <Component Id="EMEDBFOLDER" Guid="{7C10658D-794E-4DDD-BB01-CFAA63FF0CB3}" 
                         SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no" Location="either">
                <CreateFolder/>
              </Component>
            </Directory>
          </Directory>
        </Directory>
			</Directory>      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="EME Toolkit"/>
      </Directory>
      <Directory Id="PersonalFolder">
        <Directory Id="DOCSesri" Name="ArcGIS">
          <Component Id="DOCSesri" Guid="{2F32FF9B-299F-4945-84BB-A0875F7FAF2A}">
            <RegistryValue Root="HKCU" Key="Software\Innovate\EMEToolkit" Name="InstallDir" Type="string" Value="[INSTALLFOLDER]" KeyPath ="yes"/>
            <RemoveFolder Id="DOCSesri" On="uninstall"/>
          </Component>
          <Directory Id="ARCGISdesc" Name="Descriptions">
            <Component Id="ARCGISdesc" Guid="{F4C67472-E6A5-463C-A14C-9C84329CFE70}">
              <RegistryValue Root="HKCU" Key="Software\Innovate\EMEToolkit" Name="InstallDir" Type="string" Value="[INSTALLFOLDER]" KeyPath ="yes"/>
              <RemoveFolder Id="ARCGISdesc" On="uninstall"/>
              <CreateFolder/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="EMEdbManComponents" Directory="INSTALLFOLDER">
      <Component Id="emedbman.exe">
        <File Id="emedbman.exe" Source="$(var.EMEdbManager.TargetPath)"/>
      </Component>
		</ComponentGroup>
    <ComponentGroup Id="EMEdbComponents" Directory="EMEDBFOLDER">
      <ComponentRef Id="EMEDBFOLDER"/>
      <Component Id="EMEdbComponent" Guid="{44A0B9EC-1169-4AF1-99AE-12EA54DA49B2}">
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//BoundingBox.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//Citation.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//Contact_Information.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//contacts.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//DistributionLiability.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//KeywordsEPA.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//KeywordsISO.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//KeywordsPlace.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//KeywordsUser.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//OnlineLinkage.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//ProgramCode.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//Publisher.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//SecurityConstraints.xml" />
        <File Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//SystemofRecords.xml" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="EMEdbRoaming" Directory="EMEDBROAM">
      <ComponentRef Id="INNOVATEROAM"></ComponentRef>
      <ComponentRef Id="INSTALLROAM"></ComponentRef>
      <ComponentRef Id="EMEDBROAM"></ComponentRef>
      <Component Id="EMEdbRoamComponents" Guid="{F42C7DEF-9641-4E4E-A303-24AC4CF2ECCD}" Permanent="yes">
        <File Id="DbBoundingBox" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//BoundingBox.xml" />
        <File Id="DbCitation" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//Citation.xml" />
        <File Id="DbContact_Information" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//Contact_Information.xml" />
        <File Id="Dbcontacts" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//contacts.xml" />
        <File Id="DbDistributionLiability" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//DistributionLiability.xml" />
        <File Id="DbKeywordsEPA" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//KeywordsEPA.xml" />
        <File Id="DbKeywordsISO" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//KeywordsISO.xml" />
        <File Id="DbKeywordsPlace" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//KeywordsPlace.xml" />
        <File Id="DbKeywordsUser" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//KeywordsUser.xml" />
        <File Id="DbOnlineLinkage" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//OnlineLinkage.xml" />
        <File Id="DbProgramCode" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//ProgramCode.xml" />
        <File Id="DbPublisher" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//Publisher.xml" />
        <File Id="DbSecurityConstraints" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//SecurityConstraints.xml" />
        <File Id="DbSystemofRecords" Source="$(var.EPAMetadataEditor.ProjectDir)//EMEdb//SystemofRecords.xml" />
        <RegistryValue Root="HKCU" Key="Software\Innovate\EMEToolkit" Name="DatabaseLocation" Type="string" Value="[EMEDBROAM]" KeyPath ="yes"/>
      </Component>
    </ComponentGroup>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{81022974-9A3B-4937-932F-BFD907936B98}">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="EME Database Manager"
                  Description="Update and modify EPA Metadata Editor Data Files"
                  Target="[#emedbman.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\EMEdbManager" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <ComponentGroup Id="ArcGISdocs" Directory="ARCGISdesc">
      <ComponentRef Id="DOCSesri"/>
      <ComponentRef Id="ARCGISdesc"/>
      <Component Id="EMEToolkitContacts" Guid="{DF7D1E82-BD4D-4C8D-B94D-A8E557FA3364}" Permanent="yes">
        <File Id="EMEContacts" Source="$(var.EPAMetadataEditor.ProjectDir)//Config//contacts.xml" />
        <RegistryValue Root="HKCU" Key="Software\Innovate\EMEToolkit" Name="LocalContacts" Type="string" Value="[ARCGISdesc]" KeyPath ="yes"/>
      </Component>
    </ComponentGroup>
    
    <Component Id="EMEToolkitDLL104" Directory="ARC104BIN">
      <File Id="EmeDLL104" Source="$(var.EPAMetadataEditor.TargetPath)" />
    </Component>
    <Component Id="EMEToolkitConfig104" Directory="ARC104CONFIG">
      <File Id="EMEConfig104" Source="$(var.EPAMetadataEditor.ProjectDir)//Config//EPA Metadata Specification NAP ISO19115 2003.cfg" />
    </Component>
    <Component Id="EMEToolkitDLL103" Directory="ARC103BIN">
      <File Id="EmeDLL103" Source="$(var.EPAMetadataEditor.TargetPath)" />
    </Component>
    <Component Id="EMEToolkitConfig103" Directory="ARC103CONFIG">
      <File Id="EMEConfig103" Source="$(var.EPAMetadataEditor.ProjectDir)//Config//EPA Metadata Specification NAP ISO19115 2003.cfg" />
    </Component>
    <Component Id="EMEToolkitDLL102" Directory="ARC102BIN">
      <File Id="EmeDLL102" Source="$(var.EPAMetadataEditor.TargetPath)" />
    </Component>
    <Component Id="EMEToolkitConfig102" Directory="ARC102CONFIG">
      <File Id="EMEConfig102" Source="$(var.EPAMetadataEditor.ProjectDir)//Config//EPA Metadata Specification NAP ISO19115 2003.cfg" />
    </Component>
    <Component Id="EMEToolkitDLL101" Directory="ARC101BIN">
      <File Id="EmeDLL101" Source="$(var.EPAMetadataEditor.TargetPath)" />
    </Component>
    <Component Id="EMEToolkitConfig101" Directory="ARC101CONFIG">
      <File Id="EMEConfig101" Source="$(var.EPAMetadataEditor.ProjectDir)//Config//EPA Metadata Specification NAP ISO19115 2003.cfg" />
    </Component>
	</Fragment>
</Wix>